<appSettings>
  <!--add key="dbCon" value="Data Source=MYPOSTALNETWORK;Initial Catalog=ingenio_license_ctrl;User ID=sa;password=66JV3PBqWSZ9eAWP46EeWHcPYGc2FS"/--> 
  <add key="dbCon" value="Data Source=89.31.76.112;Initial Catalog=ingenio_license_ctrl;User ID=sa;password=66JV3PBqWSZ9eAWP46EeWHcPYGc2FS"/> 
  <add key ="verAndDate" value ="ver:2.0 release:15/09/2014"/>
</appSettings>